div{

    margin: 0;
   
   padding:0;
   
    box-sizing: border-box;
   
   } 
   
   .head-icon i{
   
  margin: 1.5%;
   
   font-size: 30px;
   
   }
   
   .logo{
   
   height: 60px;
   
   width: 90px;
   
    padding-top: 7px;
   
    flex: none;
   
   }
   
   .yt{
   
    height: 30px;
   
   width: 50px;
   
   }
   *{

        font-family: 'Roboto Condensed', sans-serif;
       
       margin: 0;
       
        padding:0;
       
       box-sizing: border-box;
       
       }
       
       ul.menu li{
       
        margin:2.5% 1.5%;
       
        display: block;
       
       }
       
       ul.menu li a{
       
        text-decoration: none;
       
        color: black;
       
        font-size:30px;
       
       transition: .5s;
       
        padding: 10px;
       
       border-radius: 10px;
       
       }
       
       ul.menu li a i{
       
       font-size: 40px;
       
        margin-right: 10px;
       
       }
       
       ul.menu li a:hover{
       
        letter-spacing:4px;
       
        background-color: darkgrey;
       
       }